<a href="https://colab.research.google.com/github/Mo-Bkny/python/blob/master/PythonDictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Dictionaries

## Introduction

In this notebook, you can expect to learn how to work with dictionaries. You can expect the following:

1. Initializing dictionaries.
2. Accessing data in a dictionary.
3. Deleting data from a dictionary.
4. Updating data from a dictionary.
5. Passing dictionaries to Pandas Dataframes

## Initializing dictionaries

You have a couple of options when it comes to creating dictionaries.

In [ ]:
# Using the key word
emptyDict = dict()

type(emptyDict)

dict

In [ ]:
# Using the curly braces
emptyDict = {}

type(emptyDict)

dict

In [ ]:
# Using a zip object with the dict function
keys = ['name', 'age', 'model']
values = ['Dodge', 64, 'Viper']

exampleDict = dict(zip(keys, values))

exampleDict

{'name': 'Dodge', 'age': 64, 'model': 'Viper'}

## Accessing Data

In [ ]:
# Simple dictionary with information about a person
data = {
  'Age':          '39',
  'Education':    'E - Bachelors',
  'Occupation':   'Adm-clerical',
  'Relationship': 'Not-in-family',
  'Race':         'White',
  'Sex':          'Male',
  'Target':       '<=50K'
 }

The general means of accessing data from a dictionary is to reference the dictionary's key that corresponds with the information you need.

In [ ]:
# Get education of the person
data['Education']

'E - Bachelors'

There may be times you have a very big dictionary and wind up referencing a key that does not exist. This can create problems for your code so it is therefore important to know how to deal with this.

In [ ]:
# Reference a key that doesn't exist
data['address']

KeyError: 'address'

One way of dealing with this is wrapping your code in an if-else block, and this can look like this:

In [ ]:
# Check if the key exists in the dictionary before referencing it
if 'address' in data:
    address = data['address']
else:
    print("The key 'address' does not exist in the dictionary.")

It's also possible to use the `get` method which takes two arguments:
1. The key being referenced, and
2. What to return should the key not exist in the dictionary.

Usually, the default value for the second argument is usually `None` but you can specify what you want your code to say depending on your needs.

In [ ]:
# Using the get method with the data dictionary
data.get('address')

In [ ]:
# Using the get method with the data dictionary
data.get('address', 'Key does not exist')

'Key does not exist'

## Updating information in a dictionary

It is possible to add keys to an already existing dictionary, or update existing key-value pairs as well.

In [ ]:
# Adding new keys
data['address'] = '123 Main St'
data['height'] = '6 ft'

# Reviewing the dictionary now
data

{'Age': '39',
 'Education': 'E - Bachelors',
 'Occupation': 'Adm-clerical',
 'Relationship': 'Not-in-family',
 'Race': 'White',
 'Sex': 'Male',
 'Target': '<=50K',
 'address': '123 Main St',
 'height': '6 ft'}

> To update existing keys, all you would need to do is reference it and assign information to it like how you would proceed with variable assignment.

In [ ]:
# Updating existing keys
data['Occupation'] = 'Data Scientist'

# Reviewing the dictionary now
data

{'Age': '39',
 'Education': 'E - Bachelors',
 'Occupation': 'Data Scientist',
 'Relationship': 'Not-in-family',
 'Race': 'White',
 'Sex': 'Male',
 'Target': '<=50K',
 'address': '123 Main St',
 'height': '6 ft'}

## Deleting data from a dictionary

In [ ]:
# Deleting data from dictionaries
del data['Education']

# Reviewing the dictionary now
data

{'Age': '39',
 'Occupation': 'Data Scientist',
 'Relationship': 'Not-in-family',
 'Race': 'White',
 'Sex': 'Male',
 'Target': '<=50K',
 'address': '123 Main St',
 'height': '6 ft'}

## Pandas Dataframe using Dictionaries

In [ ]:
import pandas as pd

# Create dataframe from data dictionary
df = pd.DataFrame(data, index=[0])

# Review dataframe
df

  Age      Occupation   Relationship   Race   Sex Target      address height
0  39  Data Scientist  Not-in-family  White  Male  <=50K  123 Main St   6 ft

In [ ]:
# Alternative method
pd.DataFrame.from_dict(data, orient='index').T

  Age      Occupation   Relationship   Race   Sex Target      address height
0  39  Data Scientist  Not-in-family  White  Male  <=50K  123 Main St   6 ft

This may not be the best use case to showcase the two pieces of code working together. However, as you move on to explore working with JSON data, you will encounter a far better application of this information.